nav {
  padding: 0.25vw 1.5vw 0.25vw 1vw;
}

#hello {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3vw;
}

#hello > div > h1 {
  /* text-box-trim: trim-both; */
  /* text-box: trim-start cap alphabetic; */
  line-height: 6vw;
  margin: 1vw 0vw;
}

#headshot {
  width: 40vw;
  height: 24.5vw;
  object-fit: cover;
  object-position: 0vw -18vw;
  border-radius: 8vw;
  filter: saturate(1.25);
}

#education > .horizontalSplit {
  grid-template-columns: repeat(2, 1fr);
}

#experience > .horizontalSplit {
  grid-template-columns: repeat(2, 1fr);
}

#skills > .horizontalSplit {
  grid-template-columns: repeat(4, 1fr);
}

#certifications > .horizontalSplit {
  grid-template-columns: repeat(3, 1fr);
}

#accomplishments > .horizontalSplit {
  grid-template-columns: repeat(2, 1fr);
}
