#headshot {
  width: 80vw;
  height: 40vw;
  object-fit: cover;
  object-position: 0vw -37vw;
  border-radius: 10vw;
  margin-bottom: 5vw;
}

#education > .horizontalSplit {
  grid-template-columns: repeat(2, 1fr);
}

#certifications > .horizontalSplit {
  grid-template-columns: repeat(3, 1fr);
}

#accomplishments > .horizontalSplit {
  grid-template-columns: repeat(2, 1fr);
}
